.home {
    min-height: 100vh;
    background-image: url(../pexels-startup-stock-photos-7112.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .sign-up {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    border-radius: 10%;
    align-self: center;
  }
  h1,
h2 {
  color: white;
  font-size: 1.5rem;
}

.signup{
  background-color: transparent;
  border:none;
  outline: none;

  color: white;
}
.home .sign-up input {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  outline: none;
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;

}
.home .sign-up input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}
 .sign-up .signup {
  font-size: 1.5rem;
  color: #007bff;
  border-bottom: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
}
 .sign-up h2 a  {
  text-decoration: none;
}
.login h2 a{
  font-size: 1.5rem;
  color: #007bff;
}
.warning{
  text-align: center;
}
@media only screen and (max-width: 1025px){

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media only screen and (max-width: 545px){
  h1,h2 {
    text-align: center;
    font-size: 1rem;
  }
  .sign-up {
   width: 90% !important;
  }
  .warning{
    text-align: center;
  }
}